$light: #fff;
$cian:  rgb(79,137,185);
$gold: rgb(253, 230, 54);
$orange: rgb(243,116,67);
$blue-dark: rgb(20,21,36);
$gray: rgb(225,225,225);
$border:rgb(209,209,209);
$fuente:rgb(51,51,51);
$green: rgb(75,137,48); 


